{% extends './main.html' %}
{% parent %}
{% block body %}
<section class="container-fluid landing">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <img id="logo" src="/images/chalk_draft.png" alt="">
            <hr class="hr">
            <div class="row hours" id="hours">
                <div class="col-sm-5">
                    <p>Open</p>
                    <p>2pm - 2am</p>
                </div>
                <div class="col-sm-2">
                    <p style="margin-top: 25%">§</p>
                </div>
                <div class="col-sm-5">
                    <p>Happy Hour</p>
                    <p>4pm - 6pm</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</section>

<section id="drinks" class="container-fluid landing">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <h1>Drinks</h1>
            <hr class="hr">
            <div class="row hours">
                <div class="col-sm-12">
                    <h2>Yuengling Black &amp; Tan</h2>
                    <p>A Dark Brewed Porter with Premium Beer. Rich and dark in color, it has a well-balanced flavor,
                        with hints of carmeland coffee from the dark roasted malt that finishes smooth and
                        satisfying.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</section>

<section id="food" class="container-fluid landing">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <h1>Food</h1>
            <hr class="hr">
            <div class="row hours">
                <div class="col-sm-12">
                    <h2>Yuengling Black &amp; Tan</h2>
                    <p>A Dark Brewed Porter with Premium Beer. Rich and dark in color, it has a well-balanced flavor,
                        with hints of carmeland coffee from the dark roasted malt that finishes smooth and
                        satisfying.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</section>

<section id="games" class="container-fluid landing">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <h1>Games</h1>
            <hr class="hr">
            <div class="row hours">
                <div class="col-sm-12">
                    <h2>Yuengling Black &amp; Tan</h2>
                    <p>A Dark Brewed Porter with Premium Beer. Rich and dark in color, it has a well-balanced flavor,
                        with hints of carmeland coffee from the dark roasted malt that finishes smooth and
                        satisfying.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</section>


<section id="events" class="container-fluid landing">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <h1>Events</h1>
            <hr class="hr">
            <div class="row hours">
                <div class="col-sm-12">
                    <h2>Yuengling Black &amp; Tan</h2>
                    <p>A Dark Brewed Porter with Premium Beer. Rich and dark in color, it has a well-balanced flavor,
                        with hints of carmeland coffee from the dark roasted malt that finishes smooth and
                        satisfying.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</section>

{% endblock %}
