body {
    background: #141414;
}

nav.navbar.navbar-default {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 15px 0 15px 0;
}

.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
    transition: ease-in-out .5s;
    text-transform: lowercase;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: transparent;
}